html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #777;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sub-div {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}

.section {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.section img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 8px;
}

.section p {
    margin: 0;
}

.sub-section {
    display: flex;
    justify-content: center;
}

.schools {
    max-width: 400px; 
    margin: 20px; 
    padding: 15px; 
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.schools ul {
    list-style: none;
    padding: 0;
}

.schools li {
    margin-bottom: 10px;
}

.school-image {
    max-width: 100%;
    max-height: 150px;
    border-radius: 8px;
    margin-top: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    max-width: 600px;
    margin: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item h3 {
    color: #333;
}

.item p {
    color: #666;
    margin-bottom: 10px;
}

.item ul {
    list-style: none;
    padding: 0;
}

.item li {
    margin-bottom: 8px;
}

.contact-section p {
    color: #666;
    margin-bottom: 5px;
}

.contact-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-section li {
    margin-bottom: 5px; 
}

.contact-section a {
    color: #0077cc;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}

#home h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

#education {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

#education h2 {
    color: #333;
    margin: 0; 
}

#experience {
    padding: 20px; 
    text-align: center; 
}

#experience h2 {
    color: #333; 
    margin: 0;
}

#projects {
    padding: 20px; 
    text-align: center; 
}

#projects h2 {
    color: #333; 
    margin-bottom: 20px; 
}

#contact {
    background-color: #f8f8f8; 
    padding: 20px;
    text-align: center;
}

#contact h2 {
    color: #333;
    margin-bottom: 10px;
}