body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #777;
}

.content {
    display: flex;
    margin-top: 20px;
}

.sub-div {
    flex: 1; /* Distribute space equally between the two sub-divs */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
}

.section {
    margin-bottom: 20px;
}

.section img {
    max-width: 100%;
    border-radius: 8px;
}